<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<nav th:replace="fragments/header_loader"></nav>

	<div class="container my-5">
		<h3>Añadir Profesor</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/profesor/crear}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="nombreUsuario" class="col-form-label">Nombre
									de Usuario</label> <input type="text" class="form-control"
									id="nombreUsuario" placeholder="Nombre de usuario" name="nombreUsuario">
							</div>

							<div class="form-group col-md-8">
								<label for="email" class="col-form-label">Email</label> <input
									type="text" class="form-control" id="email" name="email" placeholder="Email">
							</div>

							<div class="form-group col-md-8">
								<label for="nombre" class="col-form-label">Nombre</label> <input
									type="text" class="form-control" id="nombre" name="nombre"
									placeholder="Nombre">
							</div>

							<div class="form-group col-md-8">
								<label for="apellidos" class="col-form-label">Apellidos</label>
								<input type="text" class="form-control" name="apellidos" id="apellidos"
									placeholder="Apellidos">
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Crear Porfesor">
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>