<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- Bootstrap CSS -->
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#242c3c;">
		<img th:src="@{/images/springmoodle.png}" style="height: 35px;" /> <a
			class="navbar-brand"
			th:href="@{/profesor/perfil/{id}(id=${session.idUsuario})}"
			th:text="${session.username}"></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor02" aria-controls="navbarColor02"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/profesor/perfil/{id}(id=${session.idUsuario})}">Home
							<span class="sr-only">(current)</span>
					</a></li>
				</ul>

				</li>
			</ul>
			<div class="ui-widget">
				<input  type="text" class="form-control mr-sm-2" name="search" id="search" placeholder="Search">
			</div>
		</div>
		<a class="navbar-brand" th:href="@{/logout}"
			style="padding-left: 20px;"> Log Out </a>
	</nav>
</body>
</html>